spring:
    flyway:
        enabled: true
        locations: classpath:db/migration
        baseline-on-migrate: true
    datasource:
        url: jdbc:postgresql://localhost:5000/postgres
        driver-class-name: org.postgresql.Driver
        username: postgres
        password: posty12#4
    jpa:
        hibernate:
            ddl-auto: none
        properties:
            hibernate:
                transaction:
                    coordinator_class: jdbc
    sql:
        init:
            mode: never
logging:
    level:
        org.flywaydb: DEBUG

