spring:
    datasource:
        url: jdbc:postgresql://localhost:5000/screenlitDB
        username: darthchild
        password: changeinprod
        driver-class-name: org.postgresql.Driver
    flyway:
        enabled: true
        locations: classpath:db/migration
        baseline-on-migrate: true
    jpa:
        hibernate:
            ddl-auto: none
        properties:
            hibernate:
                transaction.coordinator_class: jdbc
    sql:
        init:
            mode: never