spring:
    datasource:
        url: jdbc:postgresql://localhost:5000/screenlitDB
        username: darthchild
        password: changeinprod
        driver-class-name: org.postgresql.Driver
    flyway:
        enabled: true
        locations: classpath:db/migration
        baseline-on-migrate: true
    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                transaction.coordinator_class: jdbc
    sql:
        init:
            mode: never
jwt:
  secret: bmVhcmx5cGlja21vc3Rwb3NzaWJsZWVzdGFibGlzaHNob3J0ZXJwZXJzb25jbGVhcmx5cmVhcmluZmx1ZW5jZWFjdHNvZnRub3RyYWNlaXRzZWxmZnJlZWRvbW1vdG9yYXZhaWxhYmxlYmVmb3JlZ2FtZWFwYXJ0aGVsbG9zd2luZ2Nvd2Rlc2NyaWJlYWxsZ292ZXJubWVudHN1YnN0YW5jZXF1aWV0b3Bwb3NpdGV3ZXN0ZXJuZmFjdGtlZXBtb3ZpZWFjcmVzbWVtb3J5ZW5naW5lZXJhbnl3YXludW1lcmFsbW9ua2V5Y2VudHJhbGNvdWxkcmVhbGl6ZW9iag==
  expirationMs: 86400000  # token expiration time in milliseconds