.movie-carousel-container {
    width: 100vw;
    background-color: black;
}
.movie-card-container {
    height: 550px;
    background-color: black;
}
.movie-card {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)), var(--img);
}
.movie-detail {
    position: absolute;
    top: 200px;
    left: 200px;
    display: flex;
    width: 100%;
    align-items: flex-start;
    padding: 0 40px;
    box-sizing: border-box;
}
.movie-poster {
    flex: 0 0 auto;
    height: 300px;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 40px;
}
.movie-poster > img {
    height: 100%;
    width: 100%;
}
.movie-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
}
.movie-title {
    color: white;
    margin-bottom: 20px;
}
.movie-title h2 {
    font-size: 3.5rem;
    margin: 0;
    word-break: break-word;
}
.movie-buttons {
    display: flex;
    flex-direction: column;
}
.play-button a {
    text-decoration: none;
}

/* New style for the Reviews button container */
.movie-review-button-container {
    margin-left: 20px; /* Added margin to separate from play button */
}

@media only screen and (max-width: 800px) {
    .movie-detail {
        flex-direction: column;
        align-items: center;
        top: 20px;
        padding: 0 20px;
    }
    .movie-poster {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .movie-info {
        align-items: center;
        text-align: center;
        height: auto;
    }
    .movie-buttons {
        flex-direction: column;
        align-items: center;
    }
    .play-button-icon {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .movie-review-button-container {
        margin-left: 0;
        margin-top: 20px;
    }
}