services:
    db:
        image: postgres:15.3
        container_name: screenlit_postgres_db
        ports:
            - "5000:5432"
        restart: always
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: posty12#4
        volumes:
            - postgres_data:/var/lib/postgresql/data

volumes:
    postgres_data:
